body{
    /*
    background-color: paleturquoise;*/
    display: block;
    margin:0px;
    width:100%;

}

img{
    width:100%;
    height:180px
}

main{
    background-color: #DDDDDD;
}


.head{
    margin-top:20px;
    margin-bottom: 20px;
    
    margin-right:20px; 
    
}
.head p{
    margin:0px;
    font-size:25px;
    color: #808000;
    text-align: right;
}
.head h3{
    text-align: center;
    
    font-size:50px;
    color:#808000;
}



.navbar{
    background-color:#333333;
    color:white;
}
.navbar-toggler{
    border:2px solid white;
    background-color:white;
}


.navbar-brand{
    color:white;
}
.navbar-nav{
    color:white;
}
.content{
    text-align:center;
}

dd{
    margin-inline-start: 0px;
}
dt{
    font-size:25px;
}
li{
    display: inline;
}

.out{
    font-size:30px;
}
p{
    font-size:20px;
}