body{
    /*background-image:url('../image/milky-way-2695569_1920.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 1.0;
    background-color: paleturquoise;*/
    display: block;
    margin:0px;
    width:100%;
}

.head{
    margin-top:20px;
    margin-bottom: 20px;
    
    margin-right:20px; 
    
}
.head p{
    margin:0px;
    font-size:25px;
    color: #808000;
    text-align: right;
}
.head h3{
    text-align: center;
    
    font-size:50px;
    color:#808000;
}



.navbar{
    background-color:#333333;
    color:white;
}
.navbar-toggler{
    border:2px solid white;
    background-color:white;
}


.navbar-brand{
    color:white;
}
.navbar-nav{
    color:white;
}
.content{
    text-align:center;
}

dd{
    margin-inline-start: 0px;
}
dt{
    font-size:25px;
}
li{
    display: inline;
}

.out{
    font-size:30px;
}
p{
    font-size:20px;
}