html{
    display: inline-block;
    
}

body{
    background-color:white;
    display: block;
    margin: 0px;
      
}
.navbar{
    background-color:#333333;
    color:white;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='カラーコード' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-brand{
    color:white;
}
.navbar-nav{
    color:white;
}
header{
    background-color:#333333;
    height:50px;
    width:100%;
}

h1{
    font-size:50px;
}
h2{
    margin: 0px;
    color:white;
    margin-left: 20px;
}

.content{
    text-align:center;
    margin-top:50px;

}
dd{
    margin-inline-start: 0px;
}
input{
    height: 30px;
}