body{
    /*background-image:url('../image/UNADJUSTEDNONRAW_thumb_254.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-color: paleturquoise;*/
    display: block;
    margin:0px;
    width:100%;
}

.head{
    margin-top:70px;
}
.head a{
    text-align:left;
    display: flex;
    justify-content: flex-end;
    
}


.navbar{
    background-color:#333333;
    color:white;
}
.navbar-toggler{
    border:2px solid white;
    background-color:white;
}


.navbar-brand{
    color:white;
}
.navbar-nav{
    color:white;
}
.content{
    text-align:center;
}

dd{
    margin-inline-start: 0px;
}
dt{
    font-size:25px;
}
li{
    display: inline;
}

.out{
    font-size:30px;
}
p{
    font-size:20px;
}
.msg p{
    font-size:40px;
}
.day{
    font-size:20px;
    text-align: right;
    margin-right: 50px;
}